@import url("https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box; }

html {
  font-size: 16px;
  box-sizing: border-box; }

body {
  background-color: rgba(52, 101, 101, 0.2);
  font-family: "PT Sans", sans-serif; }

h1 {
  font-family: "PT Serif", serif;
  font-weight: bold;
  color: #666666;
  font-size: 2em; }

h2 {
  font-family: "PT Serif", serif;
  font-weight: bold;
  color: #666666;
  font-size: 1.75em;
  margin-top: 2%;
  margin-bottom: 3%;
  padding-left: 2%; }

h3 {
  font-family: "PT Serif", serif;
  font-weight: bold;
  color: #666666;
  font-size: 1.75em;
  text-align: center;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 3%; }

h4 {
  font-family: "PT Serif", serif;
  font-weight: bold;
  color: #666666;
  font-size: 1.25em;
  margin-top: 2%;
  margin-bottom: 3%;
  padding-left: 2%; }

p {
  color: #666666;
  font-family: "PT Sans", sans-serif;
  font-size: 1.125em;
  padding-left: 2%; }

ul {
  margin-left: 3%;
  margin-right: 0px !important; }

li {
  color: #666666;
  font-family: "PT Sans", sans-serif;
  font-size: 1.125em; }

p, li, h2, h3, h4 {
  margin-left: 1%; }

hr {
  border-bottom: solid #993399 2px;
  width: 70%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%; }

a {
  color: #993399; }

a:hover {
  color: #663399; }

select {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid #993399 2px;
  font-family: "PT Sans", sans-serif;
  font-size: 1.25em;
  background-color: white; }

#nav-l {
  clear: both;
  content: '';
  display: table;
  background-color: white;
  border-bottom: solid 4px #993399;
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 1%;
  height: 10%;
  width: 100%; }
  @media screen and (min-width: 600px) {
    #nav-l {
      padding-top: 1%;
      height: 10%; } }
  @media screen and (min-width: 960px) {
    #nav-l {
      padding-top: 0.5%;
      height: 12%; } }

#logo-l {
  float: left;
  width: 50%; }
  @media screen and (min-width: 600px) {
    #logo-l {
      padding-left: 2%;
      width: 30%; } }
  @media screen and (min-width: 960px) {
    #logo-l {
      padding-left: 13%;
      width: 35%; } }
  #logo-l img {
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    width: 60%; }
    @media screen and (min-width: 600px) {
      #logo-l img {
        width: 60%;
        margin-left: 0px;
        margin-top: 1%; } }
    @media screen and (min-width: 960px) {
      #logo-l img {
        width: 60%;
        margin-left: 0px;
        margin-top: 0px; } }

#navList-l {
  float: right;
  width: 50%;
  padding-top: 1%; }
  #navList-l ul {
    list-style: none; }
  #navList-l li {
    display: inline-block;
    float: left;
    margin: 0 8px;
    font-family: "PT Sans", sans-serif; }
  #navList-l a {
    color: #666666; }
  @media screen and (min-width: 600px) {
    #navList-l {
      font-size: 100%;
      width: 60%; }
      #navList-l #navActive, #navList-l li:active {
        border-bottom: 3px solid #993399; } }
  @media screen and (min-width: 960px) {
    #navList-l {
      margin-right: 6%;
      display: inline-block !important;
      font-size: 120%;
      margin: 0 8px;
      width: 40%; }
      #navList-l #navActive, #navList-l li:hover {
        border-bottom: 3px solid #993399; } }

#menuIcon-l {
  display: none; }

@media screen and (max-width: 600px) {
  #menuIcon-l {
    display: block;
    float: right;
    color: #993399;
    margin-right: 3%;
    font-size: 2.5em; }

  #navList-l {
    display: none;
    float: right;
    clear: both;
    background-color: white;
    width: 100%;
    padding: 1% 5% 5% 5%;
    font-size: 90%; }

  #navList-l ul li {
    display: block;
    float: none;
    padding-top: 20px;
    font-size: 1.875em; } }
#main-l {
  padding-top: 5px;
  width: 100%;
  margin: 0 auto;
  background-color: white; }
  @media screen and (min-width: 600px) {
    #main-l {
      width: 75%; } }
  @media screen and (min-width: 960px) {
    #main-l {
      width: 80%; } }

#footer-l {
  width: 100%;
  z-index: +1; }
  #footer-l h4 {
    color: #356666;
    text-shadow: none !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important; }

.footerTop-l {
  background-color: #356666;
  width: 100%;
  padding-bottom: 20px; }

.footerContact-l h4 {
  color: white !important;
  text-shadow: none !important; }
.footerContact-l p {
  color: white;
  text-shadow: none; }
@media screen and (max-width: 600px) {
  .footerContact-l {
    display: none; } }

.footerSocialmedia-l img {
  height: 35px; }
@media screen and (max-width: 600px) {
  .footerSocialmedia-l {
    display: flex;
    float: left;
    height: 30px; } }

@media screen and (max-width: 600px) {
  .footer-buttons-l {
    display: none; } }

.footerList-l li {
  list-style: none;
  color: black; }
  .footerList-l li a {
    color: #666666; }
  @media screen and (min-width: 960px) {
    .footerList-l li a:hover {
      color: #993399; } }

.footerBottom-l {
  background-color: white;
  background-image: url("../images/footermotif.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }

.row-l::after {
  clear: both;
  display: block;
  content: ''; }

.col-l {
  float: left; }

.col1-l {
  width: 8.3333333333%; }

.offset1-l {
  margin-left: 8.3333333333%; }

.col2-l {
  width: 16.6666666667%; }

.offset2-l {
  margin-left: 16.6666666667%; }

.col3-l {
  width: 25%; }

.offset3-l {
  margin-left: 25%; }

.col4-l {
  width: 33.3333333333%; }

.offset4-l {
  margin-left: 33.3333333333%; }

.col5-l {
  width: 41.6666666667%; }

.offset5-l {
  margin-left: 41.6666666667%; }

.col6-l {
  width: 50%; }

.offset6-l {
  margin-left: 50%; }

.col7-l {
  width: 58.3333333333%; }

.offset7-l {
  margin-left: 58.3333333333%; }

.col8-l {
  width: 66.6666666667%; }

.offset8-l {
  margin-left: 66.6666666667%; }

.col9-l {
  width: 75%; }

.offset9-l {
  margin-left: 75%; }

.col10-l {
  width: 83.3333333333%; }

.offset10-l {
  margin-left: 83.3333333333%; }

.col11-l {
  width: 91.6666666667%; }

.offset11-l {
  margin-left: 91.6666666667%; }

.col12-l {
  width: 100%; }

.offset12-l {
  margin-left: 100%; }

@media screen and (min-width: 600px) {
  .colM1-l {
    width: 8.3333333333%; }

  .offsetM1-l {
    margin-left: 8.3333333333%; }

  .colM2-l {
    width: 16.6666666667%; }

  .offsetM2-l {
    margin-left: 16.6666666667%; }

  .colM3-l {
    width: 25%; }

  .offsetM3-l {
    margin-left: 25%; }

  .colM4-l {
    width: 33.3333333333%; }

  .offsetM4-l {
    margin-left: 33.3333333333%; }

  .colM5-l {
    width: 41.6666666667%; }

  .offsetM5-l {
    margin-left: 41.6666666667%; }

  .colM6-l {
    width: 50%; }

  .offsetM6-l {
    margin-left: 50%; }

  .colM7-l {
    width: 58.3333333333%; }

  .offsetM7-l {
    margin-left: 58.3333333333%; }

  .colM8-l {
    width: 66.6666666667%; }

  .offsetM8-l {
    margin-left: 66.6666666667%; }

  .colM9-l {
    width: 75%; }

  .offsetM9-l {
    margin-left: 75%; }

  .colM10-l {
    width: 83.3333333333%; }

  .offsetM10-l {
    margin-left: 83.3333333333%; }

  .colM11-l {
    width: 91.6666666667%; }

  .offsetM11-l {
    margin-left: 91.6666666667%; }

  .colM12-l {
    width: 100%; }

  .offsetM12-l {
    margin-left: 100%; } }
@media screen and (min-width: 960px) {
  .colL1-l {
    width: 8.3333333333%; }

  .offsetL1-l {
    margin-left: 8.3333333333%; }

  .colL2-l {
    width: 16.6666666667%; }

  .offsetL2-l {
    margin-left: 16.6666666667%; }

  .colL3-l {
    width: 25%; }

  .offsetL3-l {
    margin-left: 25%; }

  .colL4-l {
    width: 33.3333333333%; }

  .offsetL4-l {
    margin-left: 33.3333333333%; }

  .colL5-l {
    width: 41.6666666667%; }

  .offsetL5-l {
    margin-left: 41.6666666667%; }

  .colL6-l {
    width: 50%; }

  .offsetL6-l {
    margin-left: 50%; }

  .colL7-l {
    width: 58.3333333333%; }

  .offsetL7-l {
    margin-left: 58.3333333333%; }

  .colL8-l {
    width: 66.6666666667%; }

  .offsetL8-l {
    margin-left: 66.6666666667%; }

  .colL9-l {
    width: 75%; }

  .offsetL9-l {
    margin-left: 75%; }

  .colL10-l {
    width: 83.3333333333%; }

  .offsetL10-l {
    margin-left: 83.3333333333%; }

  .colL11-l {
    width: 91.6666666667%; }

  .offsetL11-l {
    margin-left: 91.6666666667%; }

  .colL12-l {
    width: 100%; }

  .offsetL12-l {
    margin-left: 100%; } }
.center-l {
  text-align: center;
  display: block;
  margin: 0 auto; }

.btn-center-home-l {
  text-align: center;
  display: block;
  margin: 0 auto; }
  @media screen and (min-width: 600px) {
    .btn-center-home-l {
      text-align: left; } }
  @media screen and (min-width: 960px) {
    .btn-center-home-l {
      text-align: left; } }

.btn-center-l {
  text-align: center;
  display: block;
  margin: 0 auto; }

.center-on-off-l {
  text-align: center;
  display: block;
  margin: 0 auto; }
  @media screen and (min-width: 600px) {
    .center-on-off-l {
      text-align: right; } }
  @media screen and (min-width: 960px) {
    .center-on-off-l {
      text-align: left;
      margin: 0; } }

.right-l a, .right-l iframe {
  float: none; }
  @media screen and (min-width: 600px) {
    .right-l a, .right-l iframe {
      float: none; } }
  @media screen and (min-width: 960px) {
    .right-l a, .right-l iframe {
      float: right; } }

.left-l {
  float: left; }

.footerTop-l .login-container {
  float: left; }

.footerTop-l input[type=text] {
  font-family: 'PT Sans', sans-serif;
  padding: 10px;
  margin-top: 10px;
  margin-right: 30px;
  font-size: 1em;
  border: none;
  border-radius: 50px;
  width: 150px; }

.footerTop-l .login-container button {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  color: white;
  float: right;
  padding: 10px 16px 10px 16px;
  margin-top: 10px;
  margin-right: 30px;
  background: white;
  font-size: 1em;
  border: none;
  border-radius: 50px;
  cursor: pointer; }

.footerTop-l .login-container button {
  background-color: #663399; }

.footerTop-l .login-container button:hover {
  background-color: #666699; }

.footerTop-l .login-container button:active {
  background-color: white; }

@media screen and (max-width: 600px) {
  .footerTop-l .login-container {
    float: none; }

  .footerTop-l a, .footerTop-l input[type=text], .footerTop-l .login-container {
    float: right;
    display: block;
    text-align: left;
    margin-top: 20px;
    width: 80%;
    padding: 14px; }

  .footerTop-l input[type=text] {
    border: 1px solid #ccc; } }
.button {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  color: white;
  text-decoration: none;
  outline: none;
  font-family: "PT Serif", serif;
  border: none;
  border-radius: 50px; }

.btn-show {
  border: none;
  display: block;
  margin: 0 auto; }

.btn-hide {
  margin: auto;
  display: block;
  margin: 0 auto; }

.btn-readmore {
  background-color: white;
  font-family: "PT Serif", serif;
  padding: 6px 6px 6px 6px;
  color: #333333;
  font-size: 1.250em;
  border: 2px solid #333333;
  border-radius: 50px;
  width: 120px;
  text-align: center;
  margin: 0 auto; }
  @media screen and (min-width: 600px) {
    .btn-readmore {
      width: 120px; } }
  @media screen and (min-width: 960px) {
    .btn-readmore {
      width: 120px; } }

.btn-purple {
  background-color: #663399; }

.btn-blue {
  background-color: #666699; }

.btn-magenta {
  background-color: #993399; }

.btn-S {
  padding: 15px 25px;
  font-size: 1.250em;
  margin-bottom: 15px;
  margin: 2px;
  color: white; }

.btn-M {
  padding: 15px 25px;
  font-size: 1.5em;
  margin-bottom: 15px;
  color: white; }

.btn-L {
  padding: 15px 25px;
  font-size: 1.875em;
  margin-bottom: 15px;
  color: white; }

.btn-press {
  padding: 10px 15px;
  font-weight: bold;
  width: 120px;
  font-size: 1em;
  background-color: #993399;
  box-shadow: 0 6px #666797;
  margin-bottom: 15px;
  margin-left: 5px;
  color: white; }

.banner {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover; }

.banner-text p {
  width: 80%;
  font-size: 1.55em;
  margin: 0 auto;
  text-align: center; }

.banner-welcomehome {
  background-image: url("../images/topmotif.png"); }

.banner-donate {
  background-image: url("../images/signup.jpg");
  width: 100%; }

.banner-gray {
  background-color: #666666;
  margin-top: 5%;
  padding-top: 5%; }
  .banner-gray p {
    color: white !important; }

.btn-container {
  position: relative; }

.btn-container img {
  width: 100%; }

.btn-container .banner-btn-c {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "PT Serif", serif;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 100%;
  padding: 16px 30px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  text-align: center; }
  @media screen and (min-width: 600px) {
    .btn-container .banner-btn-c {
      font-size: 1.75em; } }
  @media screen and (min-width: 960px) {
    .btn-container .banner-btn-c {
      font-size: 1.75em; } }

.btn-container .banner-btn-b {
  position: absolute;
  top: 82%;
  left: 50%;
  font-family: "PT Serif", serif;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 1.75em;
  padding: 16px 30px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  text-align: center; }

.sidenav {
  margin: 0 auto;
  position: static;
  width: 40%;
  background: white;
  margin-top: 1%;
  padding: 6px 0; }
  @media screen and (min-width: 960px) {
    .sidenav {
      padding-top: 1%;
      display: inline-block;
      float: left;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      width: 15%;
      margin-left: 5%;
      margin-top: 2%; } }

.sidenav a {
  padding: 15px 15px 15px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 1.25em;
  color: #666666;
  font-family: "PT Sans", sans-serif;
  display: block; }

.sidenav-inner {
  border-top: 3px solid #993399;
  border-left: 3px solid #993399;
  border-right: 3px solid #993399;
  border-bottom: 0px; }

.sidenav-bottom {
  border-bottom: 3px solid #993399;
  border-radius: 0px 0px 5px 5px; }

.sidenav-top {
  border-radius: 5px 5px 0px 0px; }

.main-sidenav {
  width: 90%;
  padding-top: 3%;
  padding: 3%;
  margin-left: 5%;
  margin-right: 3%;
  margin-top: 3%;
  border-radius: 10px;
  border: solid 3px rgba(153, 51, 153, 0.63); }
  .main-sidenav p {
    color: #666666;
    font-family: "PT Sans", sans-serif;
    font-size: 1.25em; }
  .main-sidenav h3 {
    text-align: left; }
  @media screen and (min-width: 960px) {
    .main-sidenav {
      margin-left: 25%;
      width: 68%;
      padding: 2%;
      padding-top: 2%;
      margin-right: 3%;
      margin-top: 3%; } }

.blog-sidenav {
  text-align: center;
  margin: 0 auto;
  width: 60%;
  background: white; }
  @media screen and (min-width: 960px) {
    .blog-sidenav {
      display: inline-block;
      padding: 6px 0;
      float: right;
      width: 18%;
      margin-right: 10%; } }

.blog-sidenav a {
  padding: 15px 15px 15px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 1.25em;
  color: #666666;
  font-family: "PT Sans", sans-serif;
  display: block; }

.blog-sidenav-inner {
  border-top: 2px solid #993399;
  border-left: 3px solid #993399;
  border-right: 3px solid #993399;
  border-bottom: 0px; }

.blog-sidenav-bottom {
  border-bottom: 2px solid #993399;
  border-radius: 0px 0px 5px 5px; }

.blog-sidenav-top {
  border-bottom: 2px solid #993399;
  border-radius: 5px 5px 0px 0px; }

.blog-main-sidenav {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  border: solid 3px rgba(153, 51, 153, 0.63);
  padding: 3%;
  padding-bottom: 4%;
  margin-bottom: 4%;
  margin-top: 5%;
  width: 90%; }
  .blog-main-sidenav p {
    color: #666666;
    font-family: "PT Sans", sans-serif;
    font-size: 1.25em; }
  .blog-main-sidenav h3 {
    text-align: left; }
  @media screen and (min-width: 960px) {
    .blog-main-sidenav {
      margin-right: 3%;
      width: 55%;
      padding: 3%;
      padding-top: 2%;
      margin-left: 10%;
      margin-top: 0px; } }

@media all and (max-width: 600px) {
  .hide {
    display: none; } }
iframe {
  width: 100%;
  border: 0px;
  height: 400px; }

#nav::after {
  clear: both;
  content: '';
  display: table;
  display: block; }

.sidenav :hover {
  color: #993399; }

.btn-purple:hover {
  background-color: #666699;
  color: white; }

.btn-purple:active {
  background-color: #356666; }

.btn-blue:hover {
  background-color: #663399;
  color: white; }

.btn-blue:active {
  background-color: #993399; }

.btn-magenta:hover {
  background-color: #663399;
  color: white; }

.btn-magenta:active {
  background-color: #666699; }

.btn-press:hover {
  background-color: #663399;
  color: white; }

.btn-press:active {
  background-color: #666699;
  box-shadow: 0 5px #333366;
  transform: translateY(4px); }

.button {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  color: white;
  text-decoration: none;
  outline: none;
  font-family: "PT Serif", serif;
  border: none;
  border-radius: 50px; }

.btn-show {
  border: none;
  display: block;
  margin: 0 auto; }

.btn-hide {
  margin: auto;
  display: block;
  margin: 0 auto; }

.btn-readmore {
  background-color: white;
  font-family: "PT Serif", serif;
  padding: 6px 6px 6px 6px;
  color: #333333;
  font-size: 1.250em;
  border: 2px solid #333333;
  border-radius: 50px;
  width: 120px;
  text-align: center;
  margin: 0 auto; }
  @media screen and (min-width: 600px) {
    .btn-readmore {
      width: 120px; } }
  @media screen and (min-width: 960px) {
    .btn-readmore {
      width: 120px; } }

.btn-purple {
  background-color: #663399; }

.btn-blue {
  background-color: #666699; }

.btn-magenta {
  background-color: #993399; }

.btn-S {
  padding: 15px 25px;
  font-size: 1.250em;
  margin-bottom: 15px;
  margin: 2px;
  color: white; }

.btn-M {
  padding: 15px 25px;
  font-size: 1.5em;
  margin-bottom: 15px;
  color: white; }

.btn-L {
  padding: 15px 25px;
  font-size: 1.875em;
  margin-bottom: 15px;
  color: white; }

.btn-press {
  padding: 10px 15px;
  font-weight: bold;
  width: 120px;
  font-size: 1em;
  background-color: #993399;
  box-shadow: 0 6px #666797;
  margin-bottom: 15px;
  margin-left: 5px;
  color: white; }

.banner {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover; }

.banner-text p {
  width: 80%;
  font-size: 1.55em;
  margin: 0 auto;
  text-align: center; }

.banner-welcomehome {
  background-image: url("../images/topmotif.png"); }

.banner-donate {
  background-image: url("../images/signup.jpg");
  width: 100%; }

.banner-gray {
  background-color: #666666;
  margin-top: 5%;
  padding-top: 5%; }
  .banner-gray p {
    color: white !important; }

.btn-container {
  position: relative; }

.btn-container img {
  width: 100%; }

.btn-container .banner-btn-c {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "PT Serif", serif;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 100%;
  padding: 16px 30px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  text-align: center; }
  @media screen and (min-width: 600px) {
    .btn-container .banner-btn-c {
      font-size: 1.75em; } }
  @media screen and (min-width: 960px) {
    .btn-container .banner-btn-c {
      font-size: 1.75em; } }

.btn-container .banner-btn-b {
  position: absolute;
  top: 82%;
  left: 50%;
  font-family: "PT Serif", serif;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 1.75em;
  padding: 16px 30px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  text-align: center; }

.sidenav {
  margin: 0 auto;
  position: static;
  width: 40%;
  background: white;
  margin-top: 1%;
  padding: 6px 0; }
  @media screen and (min-width: 960px) {
    .sidenav {
      padding-top: 1%;
      display: inline-block;
      float: left;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      width: 15%;
      margin-left: 5%;
      margin-top: 2%; } }

.sidenav a {
  padding: 15px 15px 15px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 1.25em;
  color: #666666;
  font-family: "PT Sans", sans-serif;
  display: block; }

.sidenav-inner {
  border-top: 3px solid #993399;
  border-left: 3px solid #993399;
  border-right: 3px solid #993399;
  border-bottom: 0px; }

.sidenav-bottom {
  border-bottom: 3px solid #993399;
  border-radius: 0px 0px 5px 5px; }

.sidenav-top {
  border-radius: 5px 5px 0px 0px; }

.main-sidenav {
  width: 90%;
  padding-top: 3%;
  padding: 3%;
  margin-left: 5%;
  margin-right: 3%;
  margin-top: 3%;
  border-radius: 10px;
  border: solid 3px rgba(153, 51, 153, 0.63); }
  .main-sidenav p {
    color: #666666;
    font-family: "PT Sans", sans-serif;
    font-size: 1.25em; }
  .main-sidenav h3 {
    text-align: left; }
  @media screen and (min-width: 960px) {
    .main-sidenav {
      margin-left: 25%;
      width: 68%;
      padding: 2%;
      padding-top: 2%;
      margin-right: 3%;
      margin-top: 3%; } }

.blog-sidenav {
  text-align: center;
  margin: 0 auto;
  width: 60%;
  background: white; }
  @media screen and (min-width: 960px) {
    .blog-sidenav {
      display: inline-block;
      padding: 6px 0;
      float: right;
      width: 18%;
      margin-right: 10%; } }

.blog-sidenav a {
  padding: 15px 15px 15px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 1.25em;
  color: #666666;
  font-family: "PT Sans", sans-serif;
  display: block; }

.blog-sidenav-inner {
  border-top: 2px solid #993399;
  border-left: 3px solid #993399;
  border-right: 3px solid #993399;
  border-bottom: 0px; }

.blog-sidenav-bottom {
  border-bottom: 2px solid #993399;
  border-radius: 0px 0px 5px 5px; }

.blog-sidenav-top {
  border-bottom: 2px solid #993399;
  border-radius: 5px 5px 0px 0px; }

.blog-main-sidenav {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  border: solid 3px rgba(153, 51, 153, 0.63);
  padding: 3%;
  padding-bottom: 4%;
  margin-bottom: 4%;
  margin-top: 5%;
  width: 90%; }
  .blog-main-sidenav p {
    color: #666666;
    font-family: "PT Sans", sans-serif;
    font-size: 1.25em; }
  .blog-main-sidenav h3 {
    text-align: left; }
  @media screen and (min-width: 960px) {
    .blog-main-sidenav {
      margin-right: 3%;
      width: 55%;
      padding: 3%;
      padding-top: 2%;
      margin-left: 10%;
      margin-top: 0px; } }

@media all and (max-width: 600px) {
  .hide {
    display: none; } }
iframe {
  width: 100%;
  border: 0px;
  height: 400px; }

.image-xlarge img {
  width: 100%;
  padding: 0px; }

.image-large img {
  width: 75%;
  padding: 0px; }

.image-med img {
  width: 60%;
  padding: 0px; }

.image-small img {
  width: 40%;
  padding: 0px; }

.image-center img {
  text-align: center;
  display: block;
  margin: 0 auto; }

.image-vsmall img {
  width: 60%;
  margin: 0px;
  padding: 0px; }
  @media screen and (min-width: 600px) {
    .image-vsmall img {
      width: 40%; } }
  @media screen and (min-width: 960px) {
    .image-vsmall img {
      width: 30%; } }

.textarea-small {
  padding-bottom: 20px;
  padding-left: 3%;
  padding-right: 3%; }
  .textarea-small p {
    width: 100%; }
    @media screen and (min-width: 600px) {
      .textarea-small p {
        width: 70%; } }
    @media screen and (min-width: 960px) {
      .textarea-small p {
        width: 70%; } }

.textarea-medium {
  padding-bottom: 45px;
  padding-left: 3%;
  padding-right: 3%; }
  .textarea-medium p {
    width: 90%; }
    @media screen and (min-width: 600px) {
      .textarea-medium p {
        width: 90%; } }
    @media screen and (min-width: 960px) {
      .textarea-medium p {
        width: 75%; } }

.textarea-large {
  padding-bottom: 45px;
  padding-left: 3%;
  padding-right: 3%; }
  .textarea-large p {
    width: 80%; }
    @media screen and (min-width: 600px) {
      .textarea-large p {
        width: 80%; } }
    @media screen and (min-width: 960px) {
      .textarea-large p {
        width: 85%; } }

.textarea-left p ul {
  text-align: left; }

.textarea-left-center p {
  text-align: left;
  margin: 0 auto; }

.textarea-center p {
  margin: 0 auto;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
